@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-display {
  font-family: 'Cinzel', serif;
}
.bg-royal-blue {
  background-color: #1a2b4c;
}
.gold-gradient-text {
    background: linear-gradient(to bottom, #D4AF37, #B8860B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-overlay {
    background: linear-gradient(rgba(26, 43, 76, 0.85), rgba(26, 43, 76, 0.85));
}